<div class="container">
  <!-- <mat-icon svgIcon="instagram" (click)="goToLink('instagram')"> </mat-icon>
  <mat-icon svgIcon="youtube" (click)="goToLink('youtube')"> </mat-icon>
  <mat-icon svgIcon="facebook" (click)="goToLink('facebook')"> </mat-icon>
  <mat-icon svgIcon="linkedin" (click)="goToLink('linkedin')"> </mat-icon> -->
  <img src="assets/facebook-end.svg" (click)="goToLink('facebook')" width="16">
  <img src="assets/instagram-end.svg" (click)="goToLink('instagram')" width="16">
  <img src="assets/twitter-end.svg" (click)="goToLink('twitter')" width="16">
  <img src="assets/linkedin-end.svg" (click)="goToLink('linkedin')" width="16">
</div>
