<div class="page" fxFlex="1 1 auto" fxLayoutAlign="start center" fxLayout="column">
  <h2 style="letter-spacing: 4px; padding: 20px">Our Product</h2>

  <!-- <div fxLayout="row" fxLayoutAlign="center center">
    <mat-icon class="arrow-icon" (click)="slideHandle('left')">chevron_left</mat-icon>
    <div fxLayout="row wrap" class="container" id="tst" fxFlex="1 1 auto">
      <div *ngFor="let prod of products; index as i">
        <mat-card class="prod-card" fxLayout="column">
          <mat-card-header>
            <mat-card-title>{{ prod.name }} </mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="prod.photo" fxFlex="1 1 auto" />
          <mat-card-content>
            <p>
              {{ prod.description }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button class="view-button" fxFlex="1 1 auto" (click)="openProductsDialog(prod)" mat-button>
              VIEW
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <mat-icon class="arrow-icon" (click)="slideHandle('right')">chevron_right</mat-icon>
  </div> -->
</div>
