<div class="contact" fxFlex="1 1 auto" fxLayoutAlign="space-between center" fxLayout="column">
  <h1> CONTACT ME </h1>
  <div class="section" fxLaoyutAlign="space-around center" fxLayout="row wrap">
    <div class="info">
      <div class="info-field">
        <mat-icon>call</mat-icon>
        <span class="doublePoint">:</span>
        <span class="__text">
          +90-123 456 78 90
        </span>
      </div>
      <div class="info-field">
        <mat-icon>mail</mat-icon>
        <span class="doublePoint">:</span>
        <span class="__text">
          info@gmail.com
        </span>
      </div>
      <div class="info-field">
        <mat-icon>room</mat-icon>
        <span class="doublePoint">:</span>
        <span class="__text">
          Cyberpark C Block,No
          100 Bilkent, Ankara </span>

      </div>
      <div class="icons" fxLayout="row">
        <img src="assets/facebook-end.svg" (click)="goToLink('facebook')" width="16">
        <img src="assets/instagram-end.svg" (click)="goToLink('instagram')" width="16">
        <img src="assets/twitter-end.svg" (click)="goToLink('twitter')" width="16">
        <img src="assets/linkedin-end.svg" (click)="goToLink('linkedin')" width="16">

      </div>
    </div>
    <div class="form-fields" fxLayout="column">
      <div class="name-surname" fxLayout="row wrap">
        <mat-form-field class="data-form" appearance="outline">
          <mat-label>First Name</mat-label>
          <mat-icon matSuffix>account_circle</mat-icon>
          <input type="text" matInput placeholder="First Name" />
        </mat-form-field>

        <mat-form-field class="data-form m-l-20" appearance="outline">
          <mat-label>Last Name</mat-label>
          <mat-icon matSuffix>account_circle</mat-icon>
          <input type="text" matInput placeholder="Last Name" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="data-form" appearance="outline" fxFlex="1 1 auto">
          <mat-label>Email</mat-label>
          <mat-icon matSuffix>mail</mat-icon>
          <input type="email" matInput placeholder="Ex. pat@example.com" />
        </mat-form-field>
      </div>
      <mat-form-field class="data-form" appearance="outline">
        <mat-label>Message</mat-label>
        <textarea rows="6" matInput></textarea>
      </mat-form-field>
      <button mat-raised-button>Send</button>
    </div>
  </div>
</div>
