<div fxFlex="1 1 auto" fxLayoutAlign="center strech" fxLayout="column">
  <div
    style="
      font-size: large;
      margin-bottom: 12px;
      padding-bottom: 8px;
      border-bottom: 1px solid;
    "
  >
    {{ data.name }}
  </div>
  <div>
    <img
      fxFlex="1 1 auto"
      style="height: 100%; width: 100%"
      [src]="data.photo"
    />
  </div>
  <div
    style="
      padding-top: 8px;
      margin-top: 12px;
      border-top: 1px solid;
    "
  >
    {{ data.description }}
  </div>
</div>
<div fxFlex="0 0 auto" fxLayoutAlign="end end">
  <button mat-button mat-dialog-close>Close</button>
</div>
