:host {
  flex-direction: column;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  overflow: hidden;
}

.sticky {
  background-color: rgb(78, 77, 77) !important;
  transition: 1s
}

.menu {
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  position: -webkit-sticky;
  position: fixed;
  height: 7vh;
  font-size: 16px;
  font-weight: bold;
  transition: 1s
}

.categoryButtons {
  padding: 10px;
  cursor: pointer;
  color: white;
  transition: 0.35s;

  &:hover,
  &:focus {
    color: #ffa260;
    box-shadow: 0 0.5em 0.5em -0.4em white;
    transform: translateY(-0.25em);
  }
}

.mat-button {
  color: coral;
  font-size: 0.875;
}

.menu-icon {
  margin-right: 2vh;
}

::ng-deep .small-menu {
  min-width: 100vw !important;
}
