.photos {
  background: rgb(227, 229, 230);
  padding: 2vh 8vh 8vh 8vh;
}

ngb-carousel {
  max-width: min-content;
}

.container {
  margin: 8px;
  min-width: 100%;
  justify-content: space-around;
  place-content: start;
}

.photo-cell {
  display: flex;
  flex: 0 0 calc((100%/3) - 12px);
  margin: 4px;
  cursor: pointer;
  // animation: move 1.5s ease-out ;
  animation: grow 1.5s ease-out ;

  img {
    width: 100%;
  }
}
@keyframes grow {
  0% {
   transform: scale(0.01);
  }
  100% {
    transform: scale(1);
  }
}
// @keyframes move {
//   0% {
//     right: -1000px;
//   }
//   100% {
//     right: 0%;
//   }
// }
.photo-cell:hover {
  overflow: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

  img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    opacity: 0.8;

  }
}

@media only screen and (max-width: 800px) {
  .photo-cell {
    display: flex;
    flex: 1 1 100%;
    margin: 4px;
    img {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 1300px) and (min-width: 801px) {
  .photo-cell {
    display: flex;
    flex: 1 1 48%;
    margin: 4px;
    img {
      width: 100%;
    }
  }
}
