.aboutUs {
  height: 120vh;
  // background: url('/assets/bg1.jpg');
  background-color: #1e7a7a;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  .text {
    color: #fff;
    h1 {
      font-size: 60px;
      letter-spacing: 0.25em;
      font-weight: bold;
      text-align: center;
      max-width: fit-content;
      border-right: 2px solid rgba(255,255,255,.75);
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);
      animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
    }
    span {
      margin-top: 6px;
      font-size: 24px;
    }
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 40px !important;
  }
  span {
    font-size: 24px;
  }
}
@media screen and (max-width: 520px) {
  h1 {
    font-size: 32px !important;
  }
  span {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 430px) {
  h1 {
    font-size: 26px !important;
  }
  span {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 22px !important;
  }
  span {
    font-size: 16px !important;
  }
}
