:host {
  display: flex;
  align-content: flex-start;
  justify-content: flex-end;
  margin-top: 5vh;
  padding-bottom: 10vh;
  background: url("/assets/draw-bg.svg");
  background-repeat: no-repeat;
  background-position: 6%;
  color: #fff;
  flex: 1;
}

.container {
  margin: 0 6vh !important;
  float: right;
  color: black;
  width: 55%;
  max-width: 55%;

  .section-1 {
    &__text {
      letter-spacing: 0.05em;
      line-height: 1.9em;
    }
  }
}

.moveAnim {
  animation: moveText 1.5s none;
  position: relative;
}

@keyframes moveText {
  from {
    right: -1000px;
  }
  to {
    right: 0%;
  }
}

.info-section {
  margin-top: 4vw;
  flex: 0 0 50%;

  .__section {
    margin: 2vw 0;
  }
  .title {
    font-size: 24px;
    margin-bottom: 0.4em;
    letter-spacing: 0.1em;
    font-weight: 700;
  }
  .sub-title {
    font-size: 24px;
    margin-bottom: 0.4em;
    letter-spacing: 0.1em;
    font-weight: 700;
  }
  .date {
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  .__description {
    font-size: 14px;
    margin-bottom: 1em;
    margin-top: 0.2em;
    letter-spacing: 0.1em;
  }
}

.skill-section {
  @extend .info-section;
}

.skills-cell {
  margin-right: 4vh;
  display: flex;
  flex-direction: row;
}

.skills_text {
  flex: 1 1 30%;
  box-sizing: border-box;
  max-width: 30%;
  font-size: 14px;
  margin-bottom: 1em;
  margin-top: 0.2em;
  letter-spacing: 0.07em;
  overflow-wrap: break-word;
}

ngb-progressbar {
  display: flex;
  flex: 1 1 70%;
  max-width: 70%;
  align-self: center;
}

.f-w-bold{
  font-weight: bold;
}

.m-t-4{
  margin-top: 4vh;
}

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 1400px) {
  .skill-section {
    flex: 0 0 100%;
  }
}
