<div class="container" id="container">
  <div class="section-1">
    <div class="header">ABOUT ME</div>
    <div class="section-1__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed risus massa. Nam aliquet dui ipsum, non
      sodales
      elit molestie nec. Vestibulum ultrices dolor et erat consequat bibendum. Donec a diam non felis egestas rhoncus.
      Nullam tincidunt nibh massa, ac imperdiet tellus aliquam et. Nulla ut eros tortor. Nunc blandit scelerisque ipsum,
      vitae suscipit risus sagittis at. Morbi eu ante egestas, mattis turpis gravida, lobortis urna. Suspendisse
      facilisis
      rutrum imperdiet. Morbi hendrerit turpis non cursus rutrum. Integer ac euismod arcu, sit amet porttitor risus.
      Duis
      nulla orci, congue sit amet fermentum id, maximus nec metus. Etiam blandit justo quis turpis pretium sollicitudin.
      Phasellus iaculis tortor lectus, sed varius lacus pellentesque facilisis.</div>
  </div>

  <div fxLayout="row wrap">
    <div class="info-section">
      <div class="title">EDUCATION</div>
      <div class="__section">
        <div class="date">2012-2015</div>
        <div class="__description">Riverview University – Boston, MA</div>
      </div>
      <div class="__section">
        <div class="date">2012-2015</div>
        <div class="__description">Riverview University – Boston, MA.</div>
      </div>
    </div>

    <div class="info-section">
      <div class="title">EXPERIENCE</div>
      <div class="__section">
        <div class="date">2020-Present</div>
        <div class="__description"><span class="f-w-bold"> Front-end Developer</span> - Riverview University
        </div>
      </div>
      <div class="__section">
        <div class="date">2016-2020</div>
        <div class="__description"><span class="f-w-bold"> Front-end Developer</span> - Riverview University
        </div>
      </div>
      <div class="__section">
        <div class="date">2012-2016</div>
        <div class="__description"><span class="f-w-bold"> Front-end Developer</span> - Riverview University
        </div>
      </div>
    </div>


    <div class="skill-section">
      <div class="title">SKILLS</div>
      <div class="skills-cell">
        <div class="skills_text">Programming</div>
        <ngb-progressbar type="success" [value]="90" [striped]="true"></ngb-progressbar>
      </div>

      <div class="skills-cell">
        <div class="skills_text">Angular</div>
        <ngb-progressbar type="success" [value]="100" [striped]="true"></ngb-progressbar>
      </div>

      <div class="skills-cell">
        <div class="skills_text">TypeScript</div>
        <ngb-progressbar type="success" [value]="90" [striped]="true"></ngb-progressbar>
      </div>

      <div class="skills-cell">
        <div class="skills_text">HTML & CSS</div>
        <ngb-progressbar type="success" [value]="85" [striped]="true"></ngb-progressbar>
      </div>

      <div class="skills-cell">
        <div class="skills_text">Data Analysis </div>
        <ngb-progressbar type="success" [value]="15" [striped]="true"></ngb-progressbar>
      </div>
      <div class="title m-t-4">LANGUAGES</div>
      <div class="skills-cell">
        <div class="skills_text">English </div>
        <ngb-progressbar type="success" [value]="75" [striped]="true"></ngb-progressbar>
      </div>
      <div class="skills-cell">
        <div class="skills_text">Turkish </div>
        <ngb-progressbar type="success" [value]="100" [striped]="true"></ngb-progressbar>
      </div>

    </div>

    <div class="info-section">
      <div class="title">INTEREST</div>
      <div class="skills_text" fxLayoutGap="1vh" fxLayout="column">
        <span> Swimming, </span>
        <span> Riding, </span>
        <span> Reading book </span>

      </div>
    </div>
  </div>
</div>
