<div fxLayout="row" class="whoWeAre">
  <div class="description" fxFlex="1 1 60%" fxLayoutAlign="center center" fxLayout="column">
    <h1>BEN KİMİM?</h1>
    <div class="description__text">
      About Me
      I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me
      to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your
      page.
      I’m a great place for you to tell a story and let your users know a little more about you.

      <br> <div style="margin-top: 20px"></div>
      This is a great space to write a long text about your company and your services. You can use this space to go into
      a
      little more detail about your company. Talk about your team and what services you provide. Tell your visitors the
      story of how you came up with the idea for your business and what makes you different from your competitors. Make
      your company stand out and show your visitors who you are.
    </div>
  </div>
  <div fxFlex="40%" fxLayoutAlign="start center">
    <img
    style="height: 100%; width: 100%;"
      src="https://images.unsplash.com/photo-1442328166075-47fe7153c128?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWFuJTIwbG9va2luZyUyMGF0JTIwaG9yaXpvbnxlbnwwfHwwfHw%3D&w=1000&q=80">
      <!-- src="https://media.istockphoto.com/photos/smiling-mixed-race-mature-man-on-grey-background-picture-id1319763895?k=20&m=1319763895&s=170667a&w=0&h=I2abU-vZKLyntC4dI5nyTf9iiTW9J2azkWF2-t83E-I="> -->
  </div>
</div>
