/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "~bootstrap/scss/bootstrap";


.custom-dialog {
  mat-dialog-container {
    background-color: transparent !important;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    color: white;
    height: 100% !important;
    width: 100% !important;
  }
}

.header{
  font-size: 40px;
  margin-bottom: 1em;
  text-align: right;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: black;
  margin-top: 1em;
}
